.footer {
  background: blue;
  text-align: center;
  padding: 12px;
  font-size: 12px;
  margin-top: 205px;
}

.navItem {
  color: white;
  text-decoration: none;
  padding: 16px;
}

.bottom {
  padding-top: 8px;
}

.list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding-left: 0;
}

@media (max-width: 767px) {
  .footer {
    margin-top: 0px;
  }
}
