.tagline {
  background: blue;
  color: white;
  margin-top: -26px;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 100px;
}

.search {
  padding: 8px 16px;
  font: 24px;
  width: 200px;
}

@media (max-width: 767px) {
  .tagline {
    padding-top: 30px;
  }
}
