.summary {
  padding-left: 30px;
  border-left: 1px solid gray;
}

.coupon {
  border: none;
  width: 150px;
}

.summaryDetails {
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 5px 20px;
  background: blue;
  color: white;
  border: none;
  cursor: pointer;
}

@media (max-width: 991px) {
  .summary {
    border-left: none;
    border-top: 1px solid gray;
    padding: 10px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
}
